/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Generics*/
body {
  font-family: Montserrat;
}
h2 {
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 20px;
}
img {
  max-width: 100%;
  display: block;
  padding-left: 20px;
}
/*Utils*/
.container {
  max-width: 1600px;
  margin: 0 auto;
}

/************* MACRO LAYOUT **************/

.content {
  background-color: black;
  height: calc(100vh - 80px);
  color: white;
  overflow-y: auto;
  display: flex;
}
.sidebar {
  background-color: black;
  width: 300px;
}
main {
  background-color: rgb(14, 14, 32);
  width: calc(100vw - 300px);
}
footer {
  background-color: rgb(15, 15, 15);
  height: 80px;
}
