/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Generics*/
body {
  font-family: Montserrat;
}
/*Utils*/
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/************* MACRO LAYOUT **************/

.content {
  background-color: black;
  height: calc(100vh - 80px);
  color: white;
  overflow-y: auto;
  padding-bottom: 40px;
}
.sidebar {
  background-color: navy;
  width: 300px;
  height: 1000px;
}
main {
  background-color: red;
  width: 4000px;
  height: 100px;
}
footer {
  background-color: rgb(15, 15, 15);
  height: 80px;
}
