/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Generics*/
body {
  font-family: sans-serif;
}
h2 {
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 30px;
}

h3 {
  color: white;
  font-weight: bold;
  padding-left: 110px;
  padding-top: 10px;
}
h4 {
  color: gray;
  font-weight: bold;
  padding-left: 130px;
  padding-top: 10px;
}
img {
  padding-left: 20px;
  padding-top: 20px;
}

/*Utils*/
.container {
  max-width: 1600px;
  margin: 0 auto;
}

/************* MACRO LAYOUT **************/

.content {
  background-color: black;
  height: calc(100vh - 80px);
  color: white;
  overflow: auto;
  display: flex;
}
.sidebar {
  background-color: black;
  flex: 0 0 230px;
}
main {
  flex: 1 1 auto;
  overflow: auto;
  background-color: rgb(12, 12, 56);
  position: relative;
}
header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 80px;
}

footer {
  background-color: #222;
  height: 80px;
}
/********************MEDIA QUEIRY ********************/
@media screen and (max-width: 992px) {
  .sidebar {
    flex-basis: 200px;
  }
}
@media screen and (max-width: 576px) {
  .sidebar {
    flex-basis: 170px;
  }
}
@media screen and (max-width: 480px) {
  .sidebar {
    flex-basis: 170px;
  }
}
@media screen and (max-width: 470px) {
  .sidebar {
    flex-basis: 50px;
  }
}
/*****************LAYOUT********************/
/************ BUTTON*******/
.btn {
  text-decoration: none;
  padding: 10px 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 50%;
}
/*************************/
ul {
  list-style-type: none;
  color: white;
  text-align: center;
  padding-top: 20px;
}
li {
  display: inline;
}
a {
  color: gray;
  text-decoration: none;
  display: inline-block;
}
